# GCP
PROJECT_ID=
REGION=us-central1

# Postgres
DATABASE_USER=default
DATABASE_PASSWORD=password

# Confluent
KAFKA_BOOTSTRAP_SERVERS=kafka-1:9092
SCHEMA_REGISTRY_URL=http://schema-registry:9090

# Auth
JWT_SECRET=

# Observability
ZIPKIN_ENDPOINT=http://localhost:9411/api/v2/spans
PROMETHEUS_URL=http://localhost:9093
GRAFANA_URL=http://localhost:3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin