### MISC ###

### AUTH ###
NEXTAUTH_URL=http://localhost:4200
NEXT_PUBLIC_ROOT_DOMAIN=localhost:4200
AUTH_SECRET=bedac9df0a8f56515fafda40a7baef8c69a876c62d46235640928aff331dcde8
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
### AXIOS ###
AUTH_API_URL=http://localhost:8080